<%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('../partials/navigation.ejs') %>

    <main>
        <%- include('../partials/flash-messages.ejs') %>
        <form class="product-form" action="/admin/<%= editing ? 'edit-product': 'add-product' %>" method="POST" enctype="multipart/form-data">
            <div class="form-control">
                <label for="title">Title</label>
                <input
                class="<%= errors.find(err => err.param === 'title') ? 'invalid' : '' %>"
                type="text" name="title" id="title" value="<%= product?.title || '' %>">
            </div>
			
			<!-- <div class="form-control">
                <label for="imageUrl">Image Url</label>
                <input 
                class="<%= errors.find(err => err.param === 'imageUrl') ? 'invalid' : '' %>"
                type="text" name="imageUrl" id="imageUrl" value="<%= product?.imageUrl || '' %>">
            </div> -->

            <div class="form-control">
                <label for="image">Image</label>
                <input type="file" name="image" id="image">
            </div>
			
			<div class="form-control">
                <label for="price">Price</label>
                <input
                class="<%= errors.find(err => err.param === 'price') ? 'invalid' : '' %>"
                type="number" name="price" id="price" step="0.01" value="<%= product?.price || '' %>">
            </div>
			
			<div class="form-control">
                <label for="description">Description</label>
				<textarea 
                class="<%= errors.find(err => err.param === 'description') ? 'invalid' : '' %>"
                name="description" id="description" rows="5"><%= product?.description || ''%></textarea>
            </div> 
			<% if(editing){ %>
				<input type="hidden" name="id" value="<%= product._id %>">
			<% } %>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn" type="submit"><%= editing ? "Update Product" : "Add Product" %></button>
        </form>
    </main>
<%- include('../partials/end.ejs') %>