 <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/cart.css">
    </head>

    <body>
        <%- include('../partials/navigation.ejs') %>
        <main>
            <% if (cart.length > 0) { %>
                <ul class="cart__item-list">
                    <% cart.forEach(item => { %>
                        <li class="cart__item">
                            <h1><%= item.product.title %></h1>
                            <h2>Quantity: <%= item.qty %></h2>
                            <form action="/delete-cart-item" method="POST">
                                <input type="hidden" value="<%= item._id %>" name="id">
                                <button class="btn danger" type="submit">Delete</button>
                            </form>
                        </li>
                    <% }) %>
                </ul>
                <hr>
                <div class="centered">
                    <form action="/orders" method="POST">
                        <button type="submit" class="btn">Order Now!</button>
                    </form>
                </div>
                
            <% } else { %>
                <h1>No Products in Cart!</h1>
            <% } %>
        </main>
        <%- include('../partials/end.ejs') %>